<!-- Footer -->
<div class="footer">
    <div class="footerLinks">
        <button onclick="window.location.href='/'">Home</button>
        <button onclick="window.location.href='/how-it-works'">How it works</button>
        <button onclick="window.location.href='/privacy'">Privacy Policy</button>
        <button onclick="window.location.href='/terms'">Terms of Service</button>
        <button onclick="window.location.href='/support'">Support</button>
    </div>

    <div class="copyright">
        &copy; <%= new Date().getFullYear() %> <%= appName %>. All rights reserved (except as provided by the open-source license).
    </div>
</div>
